{% extends 'bootstrap4/bootstrap4.html' %}

{% load bootstrap4 %}
{% load static %}

{% block bootstrap4_title %}{% block title %}Democrasite{% endblock %}{% endblock %}

{% block bootstrap4_extra_head %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'elections/css/styles.css' %}">
  {% block style %}{% endblock %}
{% endblock %}


{% block bootstrap4_content %}
  <header>
    {% block header %}
      {% include 'elections/navbar.html' %}
    {% endblock %}
  </header>

  <main class="container-fluid">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer fixed-bottom">
    {% block footer %}
      <div class="container">
        <div class="text-center">
          {% if request.resolver_match.url_name == 'index' %}
            <a href="{% url 'elections:about' %}">About</a>
            |
            <a href="https://github.com/{{ github_repo }}" target="_blank">Github</a>
          {% else %}
            <a href="{% url 'elections:index' %}">Home</a>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </footer>
{% endblock %}


{% block bootstrap4_extra_script %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  {% block javascript %}{% endblock %}
{% endblock %}
