{% extends 'elections/base.html' %}

{% block content %}
  {% for bill in bill_list %}
    {% if forloop.counter0|divisibleby:4 %}
      <div class="row">
    {% endif %}
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card text-center mb-4{% if bill.constitutional %} bg-light{% endif %}">
          <div class="card-body{% if not bill.active %} inactive{% endif %}">
            <a class="card-link" href="{{ bill.get_absolute_url }}">
              <h5 class="card-title">
                  {{ bill }}
              </h5>
              {% if bill.constitutional %}
                <p class="text-info">Amendment to the Constitution</p>
              {% endif %}
            </a>
            {% if not bill.active %}
              <p class="text-danger">Expired</p>
            {% endif %}
            <hr>
            <div class="card-text">
              {{ bill.description }}
            </div>
            <div class="card-text text-right">
              <a class="card-link git-pull-link" href="https://github.com/{{ github_repo }}/pull/{{ bill.pr_num }}/files" target="_blank">
                <span class="text-success">+{{ bill.additions }}</span>
                <span class="text-danger">-{{ bill.deletions }}</span>
              </a>
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar"></div>
              <div class="progress-bar bg-danger" role="progressbar"></div>
            </div>
            <a href="javascript:;" class="float-left text-success mt-2 vote{% if user in bill.yes_votes.all %} font-weight-bold{% endif %}"
              {% if bill.active %}
                {% if user.is_authenticated %}
                  id="vote-yes-{{ bill.id }}"
                  action="{% url 'elections:bill-vote' bill.id %}"
                  value="vote-yes"
                {% else %}
                  data-toggle="tooltip" data-placement="bottom"
                  title="Login to vote" data-trigger="click"
                {% endif %}
              {% endif %}
              >
              &check; Yes: <span class="num-yes-votes" id="num-yes-votes-{{ bill.id }}">{{ bill.yes_votes.count }}</span>
            </a>
            <a href="javascript:;" class="float-right text-danger mt-2 vote{% if user in bill.no_votes.all %} font-weight-bold{% endif %}"
            {% if bill.active %}
              {% if user.is_authenticated %}
                id="vote-no-{{ bill.id }}"
                action="{% url 'elections:bill-vote' bill.id %}"
                value="vote-no"
              {% else %}
                data-toggle="tooltip" data-placement="bottom"
                title="Login to vote" data-trigger="click"
              {% endif %}
            {% endif %}
            >
              X No: <span class="num-no-votes" id="num-no-votes-{{ bill.id }}">{{ bill.no_votes.count }}</span>
            </a>
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:4 or forloop.last %}
      </div>
    {% endif %}
  {% empty %}
    {% if request.resolver_match.url_name == 'index' %}
      <p>No bills up for vote right now.</p>
    {% elif request.resolver_match.url_name == 'my-bills' %}
      <p>Looks like you haven't proposed any bills yet.</p>
    {% elif request.resolver_match.url_name == 'my-bill-votes' %}
      <p>Looks like you haven't voted on any bills yet.</p>
    {% endif %}
  {% endfor %}
{% endblock %}

{% load static %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'elections/js/bill.js' %}"></script>
  {% if user.is_authenticated %}
    <script type="text/javascript" src="{% static 'elections/js/vote.js' %}"></script>
  {% endif %}
{% endblock %}
