body {
  margin-bottom: 20px;
}

.navbar-nav .dropdown-menu {
  min-width: 10px;
}

.git-pull-link {
  text-decoration: none !important;
}

.progress {
  height: 5px;
}

.about-page p {
  text-align: justify;
  text-align-last: center;
}
